
body {
    margin: 0;
    overflow: hidden;
}

svg {
    width: 100vw;
    height: 100vh;
    background: #f0f0f0;
}

.node circle {
    fill: #4CAF50;
    stroke: #2E7D32;
    stroke-width: 5px;
}

.node rect {
    fill: #f3f3da;
    stroke: #113013;
    stroke-width: 1px;
}

.node text {
    font: 14px sans-serif;
    fill: #333;
}

.link {
    fill: none;
    stroke: #aaa;
    stroke-width: 4px;
}