.card-gtk,
.bg-warning,
.text-bg-warning {
  --lte-card-variant-bg: #ffed00;
  --lte-card-variant-bg-rgb: 255, 193, 7;
  --lte-card-variant-color: #000;
  --lte-card-variant-color-rgb: 0, 0, 0;
  width: 95%;
}

#input-inscripcion{
  background-color: rgb(206, 209, 209);
  font-weight: bold;
  font-size: 1.2em;
  width: 150px;
}